.campaign {
  .breadcrumbs-product {
    background-color: transparent !important;
    width: 100% !important;
  }
  .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
  }
}

.editorCampaign {
  .tox.tox-tinymce {
    height: 300px !important;
  }
}

.campaignWizard {
  .bs-stepper-header {
    justify-content: center;
  }
}

.create-input-data {
  .bs-stepper {
    box-shadow: none;
  }
}
.campaign-detail {
  .card-item {
    &:hover {
      transform: translateY(-5px);
    }
  }
  .timeline {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 5% auto;

    &__event {
      background: #fff;
      margin-bottom: 20px;
      position: relative;
      display: flex;
      margin: 20px 0;
      border-radius: 8px;
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);

      &:hover {
        transform: translateY(-4px);
      }
      transition: all 0.3s;

      &__title {
        font-size: 1.2rem;
        line-height: 1.4;
        text-transform: uppercase;

        font-weight: 600;
        color: #28c76f;
        letter-spacing: 1.5px;
      }
      &__content {
        padding: 20px;
      }
      &__date {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        white-space: nowrap;
      }
      &__icon {
        border-radius: 8px 0 0 8px;
        // background: #28c76f;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-basis: 29%;
        font-size: 2rem;
        color: #28c76f;
        padding: 20px;
        z-index: 3;

        img {
          position: absolute;
          top: 50%;
          left: -48px;
          font-size: 3rem;
          transform: translate(-50%, -50%);
          background-color: #fff;
          border-radius: 8px 8px 8px 8px;
        }
      }
      &__description {
        flex-basis: 71%;
      }

      &:after {
        content: '';
        width: 2px;
        height: 89%;
        background: #28c76f;
        position: absolute;
        top: 56%;
        // transform: translateY(-50%);
        left: -3.5rem;
        z-index: 1;
        margin-top: 18px;
      }

      &:before {
        content: '';
        width: 5rem;
        height: 5rem;
        position: absolute;
        background: #1eac521f;
        border-radius: 100%;
        left: -6rem;
        // right: 90%;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid #28c76f;
        z-index: 0;
      }
      &--type5 {
        &:before {
          background: #1eac521f;
          border-color: #28c76f;
        }
        &:after {
          background: #28c76f;
        }
        .timeline__event__date {
          color: #fff;
        }

        .timeline__event__icon {
          background: #28c76f;
          color: #28c76f;
        }
        .timeline__event__title {
          color: #28c76f;
          background-color: #1eac521f;
        }
      }
      &--type4 {
        &:before {
          background: #fff4de;
          border-color: #ffa800;
        }
        &:after {
          background: #ffa800;
        }
        .timeline__event__date {
          color: #fff;
        }

        .timeline__event__icon {
          background: #ffa800;
          color: #ffa800;
        }
        .timeline__event__title {
          color: #ffa800;
          background-color: #fff4de;
        }
      }
      &--type3 {
        &:before {
          background: #eba0bf;
          border-color: #e35992;
        }
        &:after {
          background: #e35992;
        }
        .timeline__event__date {
          color: #fff;
        }

        .timeline__event__icon {
          background: #e35992;
          color: #e35992;
        }
        .timeline__event__title {
          color: #e35992;
          background-color: #fff4de;
        }
      }

      &--type6 {
        &:before {
          background: #ffe2e5;
          border-color: #f64e60;
        }
        &:after {
          background: #f64e60;
        }
        .timeline__event__date {
          color: #fff;
        }

        .timeline__event__icon {
          background: #f64e60;
          color: #f64e60;
        }
        .timeline__event__title {
          color: #f64e60;
          background-color: #ffe2e5;
        }
      }

      &--type2 {
        &:before {
          background: #dfd4f5;
          border-color: #8950fc;
        }
        &:after {
          background: #8950fc;
        }
        .timeline__event__date {
          color: #fff;
        }

        .timeline__event__icon {
          background: #8950fc;
          color: #8950fc;
        }
        .timeline__event__title {
          color: #8950fc;
          background-color: #dfd4f5;
        }
      }

      &--type1 {
        &:before {
          background: #1da0f273;
          border-color: #1da1f2;
        }
        &:after {
          background: #1da1f2;
        }
        .timeline__event__date {
          color: #fff;
        }

        .timeline__event__icon {
          background: #1da1f2;
          color: #1da1f2;
        }
        .timeline__event__title {
          color: #009dff;
          background-color: #61bef83d;
        }
      }

      &--type0 {
        &:before {
          background: #1eac521f;
          border-color: #28c76f;
        }
        &:after {
          background: #28c76f;
        }
        .timeline__event__date {
          color: #fff;
        }

        .timeline__event__icon {
          background: #28c76f;
          color: #28c76f;
        }
        .timeline__event__title {
          color: #28c76f;
          background-color: #1eac521f;
        }
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }

  @media (max-width: 786px) {
    .timeline__event {
      flex-direction: column;
    }
    .timeline__event__icon {
      border-radius: 4px 4px 0 0;
    }
  }
}
