li.border-0.cursor-pointer.list-custom.active.list-group-item {
  background-color: transparent !important;
  color: #ff6700 !important;
}

.btn-sm,
.btn-group-sm>.btn {
  padding: 0.5rem 0.8rem !important;
}