.campaign {
  .breadcrumbs-product {
    background-color: transparent !important;
    width: 100% !important;
  }
  .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
  }
}

.editorCampaign {
  .tox.tox-tinymce {
    height: 300px !important;
  }
}

.campaignWizard {
  .bs-stepper-header {
    justify-content: center;
  }
}
