.take-care-of-facebook{
  .breadcrumbs-product{
    background-color: transparent !important;
    width: 100% !important;
  }
  .breadcrumb{
    background-color: transparent ;

  }
  .breadcrumb-item{
    &::after{
      display: none;
    }
  
  }
}